@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


body {
    margin: 0;
    background-color: #151515;
}
.container {
    border-radius: 5px;
    width: 30%;
    height: 520px;
    margin-top: 200px;
    margin-inline: auto;
    background-color: #121212;
    display: block;
}
.image {
    width: 30%;
    position: absolute;
    top: 105px;
    left: 585px;
    background: transparent;
}
.inputC {
    position: relative;
    top: 240px;
    border-radius: 5px;
    margin-inline: auto;
    width: 70%;
    height: 250px;
    background-color: #151515;
}
input {
    color: #E1D9D1;
    position: relative;
    margin-inline: auto;
    display: block;
    background-color: #1a1a1a;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 270px;
    border-radius: 7px ;
    border: 0;
    padding: 10px;
}
label {
    color: #E1D9D1;
    margin-left: 40px;
    margin-top: 10px;
}
.username {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    top: 30px;
}
.password {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    position: relative;
    display: block;
    top: 30px;
}
.button1 {
    font-family: 'Fredoka', sans-serif;
    position: relative;
    text-align: center;
    margin-inline: auto;
    background-color: #535d8c;
    padding-top: 9px;
    padding-bottom: 9px;
    top: 35px;
    width: 80%;
    border-radius: 7px;
}
.button1 a {
    color: #E1D9D1;
    text-decoration: none;
}
